* {box-sizing: border-box;}

html {
    font-family: 'lato';
}

body {
    font-family: system-ui;
    background: black;
    user-select: none;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}



/**                                                          Heading */
h1 {
    text-align: center;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    animation: fadeOutUp 3.4s;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        margin-top: 1000px;
    }

    to {
        opacity: 0;
        margin-top: -10px;
        transform: translate3d(0, -10px, 0);
    }
}

.fadeOutUp {animation-name: fadeOutUp;}

/**                                                          Board */
/* position: relative; */
/* top: 50%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */

table {margin: auto;}

.cell {
    transition: all 0.3s;
    border: 0;
}

.display-none {display: none;}

#bg-space {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}



body {
    font-family: "Lato", sans-serif;
    color: whitesmoke;
    text-align: center;
}