* {
    box-sizing: border-box;
}

html {
    font-family: 'lato';
}

body {
    /* text-align: center; */
    background: black;
    user-select: none;

    /* height: 100vh; */
    /* overflow-y: hidden; */
}


#bg-space {
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


/* Heading */
h1 {
    text-align: center;
    animation: fadeOutUp 3.4s;
    color: whitesmoke;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        margin-top: 1000px;
    }

    to {
        opacity: 0;
        margin-top: -10px;
        transform: translate3d(0, -10px, 0);
    }
}

.fadeOutUp {
    animation-name: fadeOutUp;
}

/* Board */
.game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    margin: auto;
}

/* .game-container .game-status { */
/* font-size: 2rem; */
/* position: absolute; */
/* top: 20%; */
/* left: 20px; */
/* } */

/* table.game-table, */
/* .modal { */
/* box-shadow: 8px 9px 16px 1px #00000052; */
/* border-radius: 15px; */
/* border: 0; */
/* margin: auto; */
/* background-color: black; */
/* } */

/* .modal { */
/* display: flex; */
/* justify-content: space-evenly; */
/* flex-flow: column nowrap; */
/* z-index: 1; */
/* height: 500px; */
/* width: 500px; */
/* background-color: #f64; */
/* } */

/* .modal button.modal-btn { */
/* font-size: 1.5rem; */
/* display: block; */
/* margin: auto; */
/* align-items: center; */
/* align-content: center; */
/* width: 100px; */
/* height: 35px; */
/* } */


/* td .cell { */
/* border: 0; */
/* } */

.cell img {
    max-height: 40px;
    max-width: 40px;
}

.cell {
    transition: all 0.5s;
    height: 40px;
    width: 40px;
    min-width: 40px;
}

.display-none {
    display: none;
}