.music {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 15%;
    color: whitesmoke;
    font-size: 14px;
    background-color: #222;
    min-height: 30px;
    /* position: fixed; */
    /* transform: translate(-50%); */
    /* left: 50%; */
    /* top: 5%; */
}

.music:hover{
    /* transform: translate(-50%) scale(1.1); */
    transform: scale(1.1);
    cursor: pointer;
}

.music::after {
    content: "Stop music";
    display: block;
    /* width: 100%; */
    /* margin-top: 10px; */
    /* padding-top: 10px; */
}

.music .bar {
    align-self: flex-end;
    display: inline-block;
    position: relative;
    margin-right: 1px;
    width: 3px;
    overflow: hidden;
    background: linear-gradient(to bottom, #3ef906, #ffee07e2);
    animation-name: pulse;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
.music .bar:last-child{margin-right: 10px;}
.music.paused .bar {animation-iteration-count: 1;}
.music.paused:after {content: "Play Music"}

.n1 {animation-delay: 0.5s;}
.n2 {animation-delay: 0.2s;}
.n3 {animation-delay: 1.2s;}
.n4 {animation-delay: 0.9s;}
.n5 {animation-delay: 2.3s;}
.n6 {animation-delay: 1.3s;}
.n7 {animation-delay: 3.1s;}
.n8 {animation-delay: 1.9s;}
.n9 {animation-delay: 0.9s;}
.n10 {animation-delay: 2.9s;}

@keyframes pulse {
    0% {
        height: 1px;
        margin-top: 0;
    }

    10% {
        height: 15px;
        margin-top: -15px;
    }

    50% {
        height: 5px;
        margin-top: -5px;
    }

    60% {
        height: 10px;
        margin-top: -10px;
    }

    80% {
        height: 16px;
        margin-top: -16px;
    }

    100% {
        height: 1px;
        margin-top: 0;
    }
}